@model WebApplication1.Models.DateDetails

@{
    /**/

    ViewBag.Title = "Age Calculator MVC App";
}

@*Post Data To Controller Without Page Refresh In*@
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h4>Choose Below Options:</h4>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button4 {
        border-radius: 9px;
    }

    input[type=date], select {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=text], select {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
@*Filter records*@

@using (Html.BeginForm("AgeCalc", "Date", FormMethod.Get))
{
    <span style="color:blue">From Date:</span><input type="date" name="From" />
    <span style="color:blue">To Date:</span><input type="date" name="To" /> <span>&nbsp;</span> <span>&nbsp;</span>
    
    <input type="submit" name="submit" value="Search" class="button button4" />

    <br/>
    <br/>
}

@if (Model != null)
{
    if (Model.usersinfo.Count > 0) /*Display records*/
    {
        <table align="center" border="1" cellpadding="4" cellspacing="4">
            @foreach (var item in Model.usersinfo)
            {
            <tr>
                <td style="background-color: Yellow;color: blue; width:140px ; font-size:large">Your Age Is : </td>
                <td style="color:red ; font-size:large">@Html.DisplayFor(modelitem => item.YearRange) </td>
            </tr>
            }
        </table>
    }
    else
    {
        <span style="color:red"><b>No Details Found.</b></span>
    }
}

@if (TempData["SelectOption"] != null)
{
    <script type="text/javascript">
        alert("From Date should be less than To Date");
    </script>
} 